@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.css-duf7zg-MuiTypography-root {
  font-family: 'Dancing Script', cursive;
}

.connect-image {
  height: 100%;
  background-size:cover;
  background-image: url(https://img.freepik.com/free-vector/business-team-putting-together-jigsaw-puzzle-isolated-flat-vector-illustration-cartoon-partners-working-connection-teamwork-partnership-cooperation-concept_74855-9814.jpg?w=1800&t=st=1654181211~exp=1654181811~hmac=3b1313fd2ed372eb2b41f55535c91a35cbc93120782219dd08a9965fe92e8a3c);
}

.css-21wzx2-MuiGrid-root>.MuiGrid-item:hover {
  transition: transform .2s;
  transform: scale(1.2)
}

#footer {
  color: #ffffff;
  background: #202020;
  text-align: center;
  justify-content: center;
  /* text-shadow: 4px 3px 0px #7a7a7a; */
  color: #ffffff;
  background: #568c60;
  position: absolute;
  width: 100%;
}

